.game {
    font-family: sans-serif;
    float: center;
}

.board {
    display: inline-block;
    margin: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: rgb(0, 255, 208);
    border: 5px solid rgb(230, 230, 230);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square:focus {
    outline: none;
}

.status {
    text-align: left;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.game-over {
    padding-top: 10px;
    font-size: 50px;
    font-weight: bold;
}

.undo {
    margin-top: 30px;
    background: rgb(255, 1, 1);
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
}

.undo:hover {
    margin-top: 30px;
    background: rgb(248, 68, 68);
    border-radius: 10px;
    color: aliceblue;
}

.play-again {
    margin-top: 20px;
    background: rgb(1, 183, 196);
    border-radius: 10px;
    font-size: 25px;
    color: aliceblue;
}

.play-again:hover {
    margin-top: 20px;
    background: rgb(1, 85, 91);
    border-radius: 10px;
    font-size: 25px;
    color: aliceblue;
}